doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')

    title=page_name

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU="
      crossorigin="anonymous"
    )
    link(href='/jumbotron.css', rel='stylesheet')
  body
    - var page_name = page_name
    main(role='main')

      .jumbotron
        .container
          h1.display-3.text-center #{page_name} Page
          p.text-center This is #{page_name} Page
          p.text-center
            a.btn.btn-primary.btn-md.mx-1(href='/', role='button') Home Page
            a.btn.btn-warning.btn-md.mx-1(href='/about/', role='button') About Page
            a.btn.btn-danger.btn-md.mx-1(href='/contact/', role='button') Contact Page


    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"
      integrity="sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk="
      crossorigin="anonymous"
    )