<%- include('partials/_header') -%>
<!-- <%-  -%> -->
<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Cagatay Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

    <% for( let i = 0; i < posts.length; i++ ) { %>

      <div class="post-preview">
        <a href="/posts/<%= posts[i]._id %>">
          <h2 class="post-title" name="dark-change" id="main-heading">
<%= posts[i].title %> 
</h2>
<h3 class="post-subtitle" name="dark-change">
  
  <%= posts[i].message.split(" ").splice(0,8).join(" ") %> ...
          </h3>
        </a>
        <p class="post-meta" name="dark-change">Yazar :
          <a href="#" name="dark-change">Çağatay ÇÜRÜK - </a>
          Oluşturulma Tarihi <%= moment(posts[i].dateCreated).format('MMM DD YYYY') %>
        </p>
        </div>
        <hr>
        <% } %>

<!--         <button onclick="myFunction()">Toggle dark mode</button>
 -->


      
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
<!--   <script>
    function myFunction() {
       var element = document.body;

       element.classList.toggle("dark-mode");

       var elems = document.getElementsByName('dark-change');

      for (var i = 0; i<elems.length; i++) {
          if(elems[i].style.color =='white') {
            
          }
          else {
              elems[i].style.color = 'white';   
          } 
       }       
    }
    </script>    --> 
</body>
</html>